* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a, span {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    height: 370px;
    width: 100%;
    z-index: 998;
    padding-top: 30px;
    display: block;
}

body {
    background: #070B34;
    background: -webkit-linear-gradient(#070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    background: -o-linear-gradient(#070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    background: -moz-linear-gradient(#070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    background: linear-gradient(#070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    color: #ffffff
}

ul {
    display: flex;
}

h1 {
    color: #fffef0;
    padding-left: 30px;
    padding-top: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: Verdana;
    padding: 15px;
}

svg {
    top: 100px;
    left: 0;
    height: 95%;
    width: 100%;
    opacity: 0.7;
}

polygon {
    fill: #fffff7;
}

polygon:hover {
    filter: brightness(85%);
}

polyline {
    stroke-width: 2;
    stroke: #fbedb5;
}

polyline {
    fill: none;
    stroke-dasharray: 3100;
    stroke-dashoffset: 3100;
    animation: dash 7s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes gleam {
    100% {
        opacity: 0.7;
    }
}

.content {
    margin-top: 500px;
}

.main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
}

.text {
    text-align: justify;
    line-height: 1.5em;
}

.text-title { 
    color: #cf0682;
    padding: 20px 0;
}

iframe body {
    color: #ffffff !important;
}