* {
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, p, a, span {
    font-family: Arial, Geneva, Tahoma, sans-serif
}

header {
    height: 370px;
    width: 100%;
    z-index: 998;
    padding-top: 30px;
    display: block;
}

body {
    background: #070B34;
    background: -webkit-linear-gradient(#070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    background: -o-linear-gradient(#070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    background: -moz-linear-gradient(#070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    background: linear-gradient(#070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    color: #ffffff
}

nav {
    max-width: 64rem;
}

.menu {
    list-style-type: none;
    display: inline-block;
}

li {
    display: inline-block;
}

h1 {
    color: #fffef0;
    padding-left: 30px;
    padding-top: 15px;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    padding-bottom: 7px;
    opacity: 0.7;
    font-weight: bold;
}

.selected,
.menu-item:hover {
    opacity: 1;
    border-bottom: 2px solid #fff;
}

.constalations {
    top: 100px;
    left: 0;
    height: 95%;
    width: 100%;
    opacity: 0.7;
}

polygon {
    fill: #fffff7;
}

polygon:hover {
    filter: brightness(85%);
}

polyline {
    stroke-width: 2;
    stroke: #fbedb5;
}

polyline {
    fill: none;
    stroke-dasharray: 3100;
    stroke-dashoffset: 3100;
    animation: dash 7s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes gleam {
    100% {
        opacity: 0.7;
    }
}

.content {
    margin-top: 500px;
}

.main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
}

.text {
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 50px;
}

.text-title { 
    color: #cf0682;
    padding: 20px 0;
}

#replybox {
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.footer {
    max-width: 64rem;
    color: #ffffff;
    padding-bottom: 2.5em;
}

.email {
    display: inline-block;
    font-weight: bold;
}

.social-medias {
    list-style-type: none;
    text-align: end;
    float: right;

}

.social-item {
    margin-left: 10px;
}

.social-icon {
    width: 25px;
    height: 25px;
    fill: #ffffff;
}