html, body {
    margin:0;
    padding:0;
    overflow:hidden
}

svg {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: #131848;
}

polygon {
    fill: #FCD847;
}

polygon:hover {
    filter: brightness(85%);
}

polyline {
    stroke-width: 2;
    stroke: #FCD847;
}

polyline {
    fill: none;
    stroke-dasharray: 3100;
    stroke-dashoffset: 3100;
    animation: dash 7s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}