.footer {
    max-width: 64rem;
    color: #ffffff;
    padding-bottom: 2.5em;
}

.rights {
    display: inline-block;
    font-weight: bold;
    color: #fff;
}

.rights a {
    color: #fff;
}

.social-medias {
    list-style-type: none;
    text-align: end;
    float: right;

}

.social-item {
    margin-left: 10px;
    display: inline-block;
}

.social-icon {
    width: 25px;
    height: 25px;
    fill: #ffffff;
}

@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .footer .social-medias {
        float: none;
        text-align: center;
        padding-top: 10px;
    }
}