---
layout: wrapper
---

{% include header.html %}
<main id="content" class="main-content">
    <h2 class="text-title"> {{ page.title }}</h2>
    <div class="text"> 
        <ul>
            {% for item in site.data[page.words].expressions %}
                <li class="glossary-item">
                    <h3 class="glossary-expression"><a name="{{ item.anchor }}">{{ item.expression }}</a></h3>
                    <p>{{ item.definition }}</p>
                </li>
            {% endfor %}
        </ul>
        <h3>References:</h3>
        <ul>
            {% for reference in site.data[page.words].references %}
                <li><a href="{{ reference.link }}">{{ reference.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>
{% include footer.html %}