---
layout: wrapper
---

{% include header.html %}
<main id="content" class="main-content">
    <h2 class="text-title"> {{ page.title }}</h2>
    <div class="text"> 
        <ul>
            {% for item in site.data.dataglossary %}
            <li class="glossary-item">
                <h3 class="glossary-expression">{{ item.expression }}</h3>
                <p>{{ item.definition }}</p>
            </li>
            {% endfor %}
        </ul>
        <h3>References:</h3>
        <ul>
            <li><a href="https://panoply.io/data-warehouse-guide/">https://panoply.io/data-warehouse-guide</a></li>
            <li><a href="https://cognitiveclass.ai/blog/data-scientist-vs-data-engineer">https://cognitiveclass.ai/blog/data-scientist-vs-data-engineer</a></li>
            <li><a href="https://www.wikipedia.org/">https://www.wikipedia.org/</a></li>
            <li><a href="https://hadoop.apache.org/">https://hadoop.apache.org/</a></li>
            <li><a href="https://www.tutorialspoint.com/hadoop/index.htm">https://www.tutorialspoint.com/hadoop/index.htm</a></li>
            <li><a href="https://searchcio.techtarget.com/">https://searchcio.techtarget.com/</a></li>
        </ul>
    </div>
</main>
{% include footer.html %}