<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="/assets/css/index.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/header.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/footer.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/syntax-highlighting.css" type="text/css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
    </head>
    <body>
        {{ content }}
    </body>
</html>